/*initial setting*/
* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    
    
    background-color: black;
    text-align: center;
}

header {
    
    min-height: 200px;
    margin: 30px auto 0;
    
}

#title{
    padding-top: 30px;
    font-size: 3rem;
}

/* main content */

main {

    min-height: 50vh;
    margin-bottom: 100px;
    margin: auto;
    background-color: darkslategrey;
}

#price-btns {
    
    justify-content: space-between;
    
}

.button {

    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

hr {
    width: 80%;
    margin: 10px auto;
}

div {
    
    flex-direction: row;
    justify-content: space-between;
}

/* send button */

#send-btn {
    margin-top: 50px;
}

/* Calculated amount */

#payment{
    font-size: 0.8rem;
}

#totalamount{
    font-size: 2rem;
}

/* Combined Sectors */

body, button {
    font-family: 'Bebas Neue', cursive;
}

body, #title, #desc, #send-btn{
    color: white;
}

header, main {
    width: 500px;
}

header, #send-btn {
    background-color:darkcyan;
}

#title, #desc {

    padding: 20px;
}

#desc, #send-btn {
    
    font-size: 1.2rem;
}

.button:hover, #send-btn:hover{
    background-color: grey;
}

.button, div {
    width: 400px;
}

#price-btns, .amounts, #details, div {
    display: flex;
}

.amounts, #details{

    flex-direction: column;
    align-items: center;
    
}